version: '3.8'

services:
  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: golderRouteDB
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  backend:
    build: ./backend
    ports:
      - "1212:1212" 
    environment:
      - DATABASE_URL=postgresql://postgres:root@db:5432/golderRouteDB
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"  
    depends_on:
      - backend

volumes:
  postgres_data: